<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262933562789-654rgf6cnsn2pkbnrd42rjuj915f5g0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262933562789-654rgf6cnsn2pkbnrd42rjuj915f5g0o</string>
	<key>API_KEY</key>
	<string>AIzaSyD3jQ0eNPw50Zo0YvkQGzQbAL10kyE52Gc</string>
	<key>GCM_SENDER_ID</key>
	<string>262933562789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.deliverydeals.driver</string>
	<key>PROJECT_ID</key>
	<string>easygo-daff9</string>
	<key>STORAGE_BUCKET</key>
	<string>easygo-daff9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262933562789:ios:32b40dbccfbf423487d44c</string>
</dict>
</plist>